body {
  /* ref: https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap */
  font-family: 'Lato', sans-serif;
  padding: 1em 3em;
  background-color: #EBF5FB;
}
  
  .dot {
    cursor: pointer;
    color: steelblue;
    opacity: 0.5;
  }
  
  .dot:hover {
    fill: orange;
  }
  
  .axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }
  
  .trend {
    fill: none;
    stroke: black;
  }

  #dropdown {
    text-align: center;
  }

  header,
footer {
  font-family: 'Times New Roman', Times, serif;
}
h1{
  text-align: center;
  color: navy;
  font-weight: bolder;
}

label,
select {
  text-align: center;
  font-size: 16px;
}